<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/what.css">
    <title>R_system</title>
</head>
<body>

    <form action ='/' method="POST">
        <div class="checkbox-group">
            <input type="checkbox" id="Action" name="genre" value="Action">
            <label for="Action" class="custom-checkbox">Action</label>

            <input type="checkbox" id="Adventure" name="genre" value="Adventure">
            <label for="Adventure" class="custom-checkbox">Adventure</label>

            <input type="checkbox" id="Animation" name="genre" value="Animation">
            <label for="Animation" class="custom-checkbox">Animation</label>

            <input type="checkbox" id="Children" name="genre" value="Children">
            <label for="Children" class="custom-checkbox">Children's</label>

            <input type="checkbox" id="Comedy" name="genre" value="Comedy">
            <label for="Comedy" class="custom-checkbox">Comedy</label>

            <input type="checkbox" id="Crime" name="genre" value="Crime">
            <label for="Crime" class="custom-checkbox">Crime</label>

            <input type="checkbox" id="Documentary" name="genre" value="Documentary">
            <label for="Documentary" class="custom-checkbox">Documentary</label>

            <input type="checkbox" id="Drama" name="genre" value="Drama">
            <label for="Drama" class="custom-checkbox">Drama</label>

            <input type="checkbox" id="Fantasy" name="genre" value="Fantasy">
            <label for="Fantasy" class="custom-checkbox">Fantasy</label>

            <input type="checkbox" id="FilmNoir" name="genre" value="Film-Noir">
            <label for="FilmNoir" class="custom-checkbox">Film-Noir</label>

            <input type="checkbox" id="Horror" name="genre" value="Horror">
            <label for="Horror" class="custom-checkbox">Horror</label>

            <input type="checkbox" id="Musical" name="genre" value="Musical">
            <label for="Musical" class="custom-checkbox">Musical</label>

            <input type="checkbox" id="Mystery" name="genre" value="Mystery">
            <label for="Mystery" class="custom-checkbox">Mystery</label>

            <input type="checkbox" id="Romance" name="genre" value="Romance">
            <label for="Romance" class="custom-checkbox">Romance</label>

            <input type="checkbox" id="SciFi" name="genre" value="Sci-Fi">
            <label for="SciFi" class="custom-checkbox">Sci-Fi</label>

            <input type="checkbox" id="Thriller" name="genre" value="Thriller">
            <label for="Thriller" class="custom-checkbox">Thriller</label>

            <input type="checkbox" id="War" name="genre" value="War">
            <label for="War" class="custom-checkbox">War</label>

            <input type="checkbox" id="Western" name="genre" value="Western">
            <label for="Western" class="custom-checkbox">Western</label>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
